* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
    flex: 1;
    background-color: rgb(245, 235, 223);
    padding: 12px;
}

form{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    padding: 12px;
    border-radius: 12px;
    
}

input{
        border-radius: 32px;
        border: none;
        border: solid 1px;
        padding: 7px;
    }
     input:focus {
            outline: none;
    }

#main{
    height: 100%;
    width: 100%;
  
    font-family: "Open Sans", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 

}
h1{
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 44px;
}

#theme_page {
    
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial;
    font-weight: 400;

    margin-top: 10px;
    padding: 10px 16px;
    
    
    border: none;
    border-radius: 25px;
    
    
    background-color: #48b4d4;
    color: rgb(255, 255, 255);
    
    cursor: pointer;
    transition:   0.3s ease;
  
   margin-bottom: 25px;
}

button:hover{
     filter: brightness(93%);
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #f7f3f3;
}

body.dark-mode main {
    background-color: #3f5683;
    border-color: #fffefe;
}

body.dark-mode a {
    color: #8cb5f3;
}

body.dark-mode a:hover {
    color: #ffffff;
}

body.dark-mode .informacoes h2 {
    color: #f8f6f6;
}

body.dark-mode #contador{
    border-color: #f2f9fc;
}

#btnFormmulario{
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial;
    font-weight: 400;

    margin-top: 10px;
    padding: 10px 16px;
    
    
    border: none;
    border-radius: 25px;
    
    
    background-color: #48b4d4;
    color: rgb(255, 255, 255);
    
    cursor: pointer;
    transition:   0.3s ease;
  
   margin-bottom: 25px;
}